interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:registraOrden
      xmlns:ns0="http://h2h.integration.spei.enlacefi.lgec.com/"><ordenPago><claveRastreo>CR1550267917</claveRastreo><conceptoPago>Prueba</conceptoPago><cuentaBeneficiario>072691004495711499</cuentaBeneficiario><empresa>TAMIZI</empresa><firma>GnFBxrkWTtw4lgdLTG2Ol0Jte3u6MQiKeNUQ0rmlqfvP22LEM5PatktroL5NFDKbELZLTNPeyJq4D89HZz5fkoj25VMJka/YMUQa9rb+800/bgz5AwTe/KLBOozdHlhe+25qk+fwV9/AnIQ/Wmt2O5z1h7/Xeyi4P3EoGRfCx6s=</firma><institucionContraparte>40072</institucionContraparte><institucionOperante>90646</institucionOperante><medioEntrega>3</medioEntrega><monto>1.2</monto><nombreBeneficiario>Ricardo
      Sanchez</nombreBeneficiario><prioridad>1</prioridad><referenciaNumerica>9224177</referenciaNumerica><rfcCurpBeneficiario>ND</rfcCurpBeneficiario><tipoCuentaBeneficiario>40</tipoCuentaBeneficiario><tipoPago>1</tipoPago><topologia>T</topologia></ordenPago></ns0:registraOrden></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type: [text/xml; charset=utf-8]
      SOAPAction: ['""']
    method: POST
    uri: https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices
  response:
    body: {string: '<?xml version=''1.0'' encoding=''UTF-8''?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns0:registraOrdenResponse
        xmlns:ns0="http://h2h.integration.spei.enlacefi.lgec.com/"><return><id>5717101</id></return></ns0:registraOrdenResponse></S:Body></S:Envelope>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
