interactions:
- request:
    body: '{"firma": ""}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speidemows/rest/ordenPago/registra
  response:
    body:
      string: "{\"resultado\":{\"descripcionError\":\"No se recibi\xF3 respuesta del
        servicio\",\"id\":0}}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"firma": ""}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speidemows/rest/cuentaModule/fisica
  response:
    body:
      string: '{"descripcion":"Firma Invalida, cuenta: null","id":1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"firma": ""}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speidemows/rest/cuentaModule/fisica
  response:
    body:
      string: '{"descripcion":"unknown code","id":999999}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
