interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://prod.stpmex.com/speiws/rest/application.wadl
  response:
    body:
      string: "<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body>\r\n<center><h1>403
        Forbidden</h1></center>\r\n<hr><center>nginx/1.16.1</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
    status:
      code: 403
      message: Forbidden
version: 1
