interactions:
- request:
    body: "\n<soapenv:Envelope\n        xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"\n
      \       xmlns:h2h=\"http://h2h.integration.spei.enlacefi.lgec.com/\">\n    <soapenv:Body>\n
      \       <h2h:consultaSaldoCuenta>\n            <cuenta>123456789012345678</cuenta>\n
      \           <firma>tHocosX6wc9iErPu6eTyjWk+dqY5jqEckCitO8QC7g7jgnuCO2b4wwpNtd3BYLiXxA5tmr0r9j3qRwBGV3yIvGAfXJg+GdBibx7QA3k/GKKBLGevv6c/J6KS6rxBnoCrXuN/iPFKNsWpnGkoi/Yc8HNm3SvFXjWCz6pEqDMo8V0=</firma>\n
      \       </h2h:consultaSaldoCuenta>\n    </soapenv:Body>\n</soapenv:Envelope>\n"
    headers:
    method: POST
    uri: https://demo.stpmex.com:7024/speidemo/webservices/SpeiConsultaServices
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns0:Fault
        xmlns:ns0="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://www.w3.org/2003/05/soap-envelope"><faultcode>ns0:Server</faultcode><faultstring>Cuenta
        {123456789012345678} - {No encontrada}</faultstring></ns0:Fault></S:Body></S:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-ORACLE-DMS-ECID:
      - 5d173cc1-4978-426d-9d58-0dc36f91111b-000001f5
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 500
      message: Internal Server Error
version: 1
