interactions:
- request:
    body: "\n<soapenv:Envelope\n        xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"\n
      \       xmlns:h2h=\"http://h2h.integration.spei.enlacefi.lgec.com/\">\n    <soapenv:Body>\n
      \       <h2h:consultaSaldoCuenta>\n            <cuenta>646180157000000004</cuenta>\n
      \           <firma>Cz/mqIQLCtUeNYtw3XYL7zXeqbpNpa5cyfUEleQmpfAu8nreVsaa9wMErg89qUCZRF0vpjxszHZ1L5foMcTa9ft2/4BgvU+EFyqFl7tbVRIn/Gp5Ermq76HrQdK5j7DDawvtPpboFSEC4Bubb42n3VwlYFLIGHYpTrCgw+I2GfE=</firma>\n
      \       </h2h:consultaSaldoCuenta>\n    </soapenv:Body>\n</soapenv:Envelope>\n"
    headers:
    method: POST
    uri: https://demo.stpmex.com:7024/spei/webservices/SpeiConsultaServices
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns0:consultaSaldoCuentaResponse
        xmlns:ns0="http://h2h.integration.spei.enlacefi.lgec.com/"><return><cargosPendientes>0.00</cargosPendientes><saldo>10000.00</saldo></return></ns0:consultaSaldoCuentaResponse></S:Body></S:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
