interactions:
- request:
    body: '{"empresa": "TAMIZI", "estado": "E", "firma": "fRcllVARrFz+4XNhgKAGMKqTeHYdErcTmTiUC9IM6Nb3tASEl9xcfeUGohu6/CCDurP8/jHeWYwa3cKWNcRNsngDjoPdt/YZfpgcFYsdveYrpy8XGgGY+AEUtdwDdC3BBfZMysRxRNVtnZO0wYCcPsOf9u2sPSeVGWU4CbtAEKs="}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://demo.stpmex.com:7024/speiws/rest/ordenPago/consOrdenesFech
  response:
    body:
      string: '{"resultado":{"id":1,"lst":[{"clavePago":"","claveRastreo":"000435414377354285915413","conceptoPago":"Transferencia
        FISA","conceptoPago2":"","cuentaBeneficiario":"021180063738941801","cuentaBeneficiario2":"","cuentaOrdenante":"646180102607000012","empresa":"TAMIZI","estado":"L","fechaOperacion":20200907,"folioOrigen":"000435414377354285915413","idCliente":"000435414377354285915413","institucionContraparte":40021,"institucionOperante":90646,"medioEntrega":3,"monto":1.00,"nombreBeneficiario":"Gustavo
        Bartolo Trujillo","nombreBeneficiario2":"","nombreOrdenante":"TAMIZI","prioridad":0,"referenciaCobranza":"","referenciaNumerica":6879256,"rfcCurpBeneficiario":"","rfcCurpBeneficiario2":"","rfcCurpOrdenante":"ND","tipoCuentaBeneficiario":40,"tipoCuentaOrdenante":40,"tipoPago":1,"topologia":"V","tsCaptura":1599268894178,"usuario":"tamizi"},{"clavePago":"","claveRastreo":"000836856375538761031816","conceptoPago":"Transferencia
        FISA","conceptoPago2":"","cuentaBeneficiario":"021180063738941801","cuentaBeneficiario2":"","cuentaOrdenante":"646180102607000012","empresa":"TAMIZI","estado":"L","fechaOperacion":20200907,"folioOrigen":"000836856375538761031816","idCliente":"000836856375538761031816","institucionContraparte":40021,"institucionOperante":90646,"medioEntrega":3,"monto":1.00,"nombreBeneficiario":"Gustavo
        Bartolo Trujillo","nombreBeneficiario2":"","nombreOrdenante":"TAMIZI","prioridad":0,"referenciaCobranza":"","referenciaNumerica":5488655,"rfcCurpBeneficiario":"","rfcCurpBeneficiario2":"","rfcCurpOrdenante":"ND","tipoCuentaBeneficiario":40,"tipoCuentaOrdenante":40,"tipoPago":1,"topologia":"V","tsCaptura":1599271758417,"usuario":"tamizi"},null]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
