interactions:
- request:
    body: '{"empresa": "TAMIZI", "estado": "R", "firma": "fRcllVARrFz+4XNhgKAGMKqTeHYdErcTmTiUC9IM6Nb3tASEl9xcfeUGohu6/CCDurP8/jHeWYwa3cKWNcRNsngDjoPdt/YZfpgcFYsdveYrpy8XGgGY+AEUtdwDdC3BBfZMysRxRNVtnZO0wYCcPsOf9u2sPSeVGWU4CbtAEKs="}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://demo.stpmex.com:7024/speiws/rest/ordenPago/consOrdenesFech
  response:
    body:
      string: '{"resultado":{"id":1,"lst":[{"causaDevolucion":1,"claveRastreo":"CR1564969083","claveRastreoDevolucion":"19013550","cuentaBeneficiario":"646180157075068123","empresa":"TAMIZI","estado":"LQ","fechaOperacion":20200420,"institucionContraparte":40072,"institucionOperante":90646,"medioEntrega":1,"monto":1.20,"prioridad":0,"tipoPago":0,"topologia":"V","tsCaptura":1587197049464,"tsDevolucion":4524,"tsDevolucionRecibida":4524,"tsLiquidacion":1587197049464},{"causaDevolucion":1,"claveRastreo":"CR1564969084","claveRastreoDevolucion":"19013551","cuentaBeneficiario":"646180157075068123","empresa":"TAMIZI","estado":"LQ","fechaOperacion":20200420,"institucionContraparte":40072,"institucionOperante":90646,"medioEntrega":1,"monto":1.20,"prioridad":0,"tipoPago":0,"topologia":"V","tsCaptura":1587197118452,"tsDevolucion":2287,"tsDevolucionRecibida":2287,"tsLiquidacion":1587197118452},null]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
